<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>- RumahSehat -</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar('home')"></nav>
  <div class="jumbotron text-center">
    <h1 th:text="'Hello ' + ${#httpServletRequest.remoteUser}+'!'">Login as</h1>
    <p class="lead">Welcome to RumahSehat</p>
  </div>
  <div class="container">
    <h4 class="text-center">Main Menu</h4>
    <br>
    <a th:if="${role == 'admin'}" href="/user" class="btn btn-success btn-lg btn-block">User</a>
    <a th:if="${role == 'admin' || role == 'dokter'}" href="/appointment/viewall" class="btn btn-success btn-lg btn-block">Appointments</a>
    <a th:if="${role == 'admin' || role == 'apoteker'}" href="/resep/viewall" class="btn btn-success btn-lg btn-block">Resep</a>
    <a th:if="${role == 'admin' || role == 'apoteker'}" href="/obat" class="btn btn-success btn-lg btn-block">Obat</a>
    <a th:if="${role == 'admin'}" href="/chart" class="btn btn-success btn-lg btn-block">Chart Obat</a>
  </div>
</body>
</html>