<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('resep')"></nav>
    <div class="card m-5 p-5">
        <div class="card-body">
            <div class="justify-content-center">
                    <h2>Detail Resep</h2>
                    <br>
                    <p th:text="'ID Resep: ' + ${resep.id}"></p>
                    <p th:text="'Nama Dokter: ' + ${resep.appointment.dokter.nama}"></p>
                    <p th:text="'Nama Pasien: ' + ${resep.appointment.pasien.nama}"></p>
                    <div th:if="*{resep.isDone}">
                        <p>Status Resep: Selesai</p>
                        <p th:text="'Apoteker: ' + *{resep.apoteker.nama}"></p>
                    </div>
                    <div th:unless="*{resep.isDone}">
                        <p>Status Resep: Belum Selesai</p>
                    </div>

                    <div th:if="*{listJumlah.size() != 0}">
                        <p th:text="'Jumlah Obat: ' + ${listJumlah.size}"></p>
                        <p th:text="'Daftar Obat: ' "></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Obat</th>
                                    <th>Kuantitas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="jumlahObat, iterationStatus : *{listJumlah}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${jumlahObat.obat.namaObat}"></td>
                                    <td th:text="${jumlahObat.kuantitas}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form th:if="${!resep.isDone} and ${role == 'apoteker'}" method="post" th:object="${resep}"
                        th:action="@{/resep/view/} + ${resep.id}">
                        <button class="btn btn-primary" type="submit" name="konfirmasi">Konfirmasi</button>
                    </form>
                    <div th:unless="*{listJumlah.size() != 0}">
                        <h2 th:text="'Tidak ada Obat'"></h2>
                    </div>
                    <br>

                    <a class="btn btn-primary" href="/resep/viewall">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>